.main_button{
    border:0;
    width:100px;
    height: 30px;
    margin-top: 70px;
    float: left;
    background-color: lightgray;
    color:gray;
}
.main_button_hover:hover{
    border: 0;
    width:100px;
    height: 30px;
    margin-top: 70px;
    float: left;
    font-weight: bold;
}
.sign_up_or_in_button{
    border:0;
    width:150px;
    height: 30px;
    background-color: lightgray;
    color:gray;
    border-radius: 10px;
    margin-bottom: 5px;
}
.sign_up_or_in_button_hover:hover{
    border: 0;
    width:150px;
    height: 30px;
    font-weight: bold;
    color:black;
    border-radius: 10px;
    margin-bottom: 5px;
}
.input_text{
    width: 400px;
    height: 50px;
    border: 1px solid lightblue;
    border-radius: 10px;
}
.link_text{
    text-decoration-line: none;
    color: gray;
}
.link_text_hover:hover{
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}
.send_button{
    border:0;
    width:150px;
    height: 50px;
    background-color: lightgray;
    color:gray;
    border-radius: 10px;
    margin-bottom: 5px;
}
.send_button_hover:hover{
    border: 0;
    width:150px;
    height: 50px;
    font-weight: bold;
    color:black;
    border-radius: 10px;
    margin-bottom: 5px;
}